<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy, <a href="https://www.namoxbase.com">The Namox Labs Base</a>
      by <a href="http://www.giovannialfaro.com/">Giovanni Alfaro</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>